[submodule "vim_runtime"]
	path = vim_runtime
	url = https://github.com/amix/vimrc.git
[submodule "local/share/icons/gruvbox-plus-icon-pack"]
	path = local/share/icons/gruvbox-plus-icon-pack
	url = https://github.com/SylEleuth/gruvbox-plus-icon-pack.git
